# Віртуальні середовища (де зберігаються завантажені бібліотеки)
venv/
env/
.venv/

# Кеш Python (генерується автоматично, його не треба зберігати)
__pycache__/
*.py[cod]
*$py.class

# Файли з секретними ключами (про всяк випадок на майбутнє)
.env
*.env

# Системні файли Windows та macOS
Thumbs.db
.DS_Store

# Налаштування редакторів коду (щоб ваші налаштування не заважали іншим)
.vscode/
.idea/

# Логи
*.log